<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Page Title</title>
</head>
<body>
    <h1>Template for {{ title }} works</h1>

{% for obj in object_list %}

{#    can write explicit routing #}
{#    <a href="/posts/{{ obj.id }}">{{ obj.title }}</a><br/> #}
{#    or use the url names from urls.py #}
{#    <a href='{% url "posts:detail" id=obj.id %}'>{{ obj.title }}</a><br/> #}
{#    OR create a method in the model that codes the url path #}
    <a href='{{ obj.get_absolute_url }}'>{{ obj.title }}</a><br/>
{{ obj.content }}<br/>
{{ obj.timestamp }}<br/>
{{ obj.updated }}<br/>
{{ obj.id }}<br/><br/>

{% endfor %}

</body>
</html>